node_modules
.next
.git
.gitignore
dev.db
dev.db-journal
storage
public/uploads/avatars/*
public/uploads/bands/*
!public/uploads/avatars/.gitkeep
!public/uploads/bands/.gitkeep
.env
.env.local
.env*.local
admin-login.txt
*.tsbuildinfo
npm-debug.log*
README.md
